/sandbox/.gradle
/sandbox/gradle
/sandbox/gradlew
/sandbox/gradlew.bat
/sandbox/build/
/sandbox/.idea

/addressbook-web-tests/.gradle
/addressbook-web-tests/gradle
/addressbook-web-tests/gradlew
/addressbook-web-tests/gradlew.bat
/addressbook-web-tests/build/
/addressbook-web-tests/.idea

.gradle/
.idea/
*.log